

<nav>
    <h1><a href="/musiclist">MuSic</a></h1>
    <ul>
        <li class="active"><a href="/musiclist">Music List</a></li>
        <li><a href="/musiccreate">Music Create</a></li>
        <li><a href="/userlist">User List</li>
            {% if is_superuser %}
        <li><a href="/usercreate">Create User</a></li>
        {% endif %}
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

