<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
        }
        input {
            width: 300px;
            height: 40px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0 10px;
        }
        button {
            width: 300px;
            height: 40px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0 10px;
            background: #ccc;
            color: #fff;
            cursor: pointer;
        }
        button:hover {
            background: #fff;
            color: #000;
        }
    </style>
</head>
<body>
    <form method="post">
        {%csrf_token%}
        <h3>Login Here</h3>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
        {% if message %}
        {{message}}
        {%endif%}
        <button> <a href="/signup">Sign Up</a></button>
       
    </form>
    
</body>
</html>