<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: sans-serif;
        }
        h1 a{
            text-decoration: none;
            color: #000;
        }
        header {
            width: 100%;
            height: 100px;
            background: #ccc;
        }
        nav {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        nav h1 {
            font-size: 30px;
        }
        nav ul {
            display: flex;
            list-style: none;
        }
        nav ul li {
            margin: 0 10px;
        }
        nav ul li a {
            text-decoration: none;
            color: #000;
        }
        nav ul li a:hover {
            color: #fff;
        }
        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        form {
            width: 500px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        form input {
            width: 300px;
            height: 40px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0 10px;
        }
        form button {
            width: 300px;
            height: 40px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0 10px;
            background: #ccc;
            color: #fff;
            cursor: pointer;
        }
        form button:hover {
            background: #fff;
            color: #000;
        }
        .form_title {
            margin-top: 10px;
            display: block;
        }
        .active {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        {% include "./headers.html" %}
    </header>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}

            <h1 class="form_title">Create Music</h1>
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="singer" placeholder="Singer">
            <input type="text" name="composer" placeholder="Composer">
            <input type="text" name="category" placeholder="Category">
            <input type="date" name="release_date" placeholder="Rlease Date">
            <input type="file" name="thumbnail" placeholder="Thumbnail" accept="image/*">
            <input type="file" name="poster" placeholder="Poster" accept="image/*">
           <label>status: </label> <input type="checkbox" name="status" placeholder="Status" checked>

            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>