<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: sans-serif;
        }
        header {
            width: 100%;
            height: 100px;
            background: #ccc;
        }
        nav {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        nav h1 {
            font-size: 30px;
        }
        nav ul {
            display: flex;
            list-style: none;
        }
        nav ul li {
            margin: 0 10px;
        }
        nav ul li a {
            text-decoration: none;
            color: #000;
        }
        nav ul li a:hover {
            color: #fff;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            padding: 10px;
            border: 1px solid #000;
        }
        table tbody tr td {
            padding: 10px;
            border: 1px solid #000;
            text-align: center !important;
        }
        table tbody tr td img {
            width: 100px;
        }
        table tbody tr td a {
            text-decoration: none;
            color: #000;
            background-color: #ccc;
            padding: 5px 10px;
            border-radius: 5px;
        }
        table tbody tr td a:hover {
            color: #fff;
        }
        h1 a{
            text-decoration: none;
            color: #000;
        }
        .active {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        {% include "./headers.html" %}
    </header>
    <div class="container">
        <table>
            <thread>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Singer</th>
                    <th>Composer</th>
                    <th>Category</th>
                    <th>Release Date</th>
                    <th>Thumbnail</th>
                    <th>Poster</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thread>

            <tbody>

                {% for data in obj %}
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.title}}</td>
                    <td>{{data.singer}}</td>
                    <td>{{data.composer}}</td>
                    <td>{{data.category}}</td>
                    <td>{{data.release_date}}</td>
                    <td><img src="/media/{{data.thumbnail}}"/></td>
                    <td><img src="/media/{{data.poster}}"/></td>
                    <td>{{data.status}}</td>
                    {% if is_superuser%}
                       <td><a href="/deleteMusic?id={{ data.id }}">Delete</a></td>
                    {% else %}
                       <td>-</td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>
</body>
</html>