<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: sans-serif;
        }
        header {
            width: 100%;
            height: 100px;
            background: #ccc;
        }
        nav {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        nav h1 {
            font-size: 30px;
        }
        nav ul {
            display: flex;
            list-style: none;
        }
        nav ul li {
            margin: 0 10px;
        }
        nav ul li a {
            text-decoration: none;
            color: #000;
        }
        nav ul li a:hover {
            color: #fff;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            padding: 10px;
            border: 1px solid #000;
        }
        table tbody tr td {
            padding: 10px;
            border: 1px solid #000;
            text-align: center !important;

        }
        table tbody tr td img {
            width: 100px;
        }
        table tbody tr td a {
            text-decoration: none;
            color: #000;
            background-color: #ccc;
            padding: 5px 10px;
            border-radius: 5px;
        }
        table tbody tr td a:hover {
            color: #fff;
        }
        h1 a{
            text-decoration: none;
            color: #000;
        }
        .active {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        {% include "./headers.html" %}
    </header>
  
        <div class="container">
            <table>
                <thread>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>User Type</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thread>

                <tbody>

                    {% for user in users %}
                    
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        {% if  is_superuser %}
                           <td>Superuser</td>
                        {% else %}
                           <td>User</td>
                        {% endif%}
                        {% if user.is_active%}
                          <td>Active</td>
                        {%else %}
                           <td>Inactive</td>
                        {%endif%}
                        {% if is_superuser and not user.is_superuser%}
                        <td> 
                            <a href="/deleteUser?id={{ user.id }}">Delete</a>
                        </td>
                        
                        {% else %}
                           <td>-</td>
                        {% endif%}
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
  
</body>
</html>